template-beans/src/main/resources/utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:beans.template.mycompany.com"
           targetNamespace="urn:beans.template.mycompany.com"
           elementFormDefault="qualified">

    <xs:element name="configUtils" type="ConfigUtils" />
    <xs:complexType name="ConfigUtils">
        <xs:sequence>
            <xs:element name="authEnabled" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>